alias 'la'=ls -a
alias 'll'=ls -l
alias 'clr'=clear
alias 'nv'=nvim
alias 'vim'=nvim
alias 'vi'nvim
alias 'jp'=jump
#Grep "here"
alias 'gh'=grep -rnw '.' -e

#Work aliases (uncomment to enable)
alias 'sfpr'=swe flow pr create --draft --yes
alias 'sfprm'=swe flow pr merge
